<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/25380ad312.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 
    <body class="d-flex flex-column vh-100">
    <header>
     
      
        <% if user_signed_in? %>
        
          <li class="nav-item">
           <a class="nav-link" href="/">Bookers</a>
          </li>
          <li class="navbar-item">
            <a class="fas fa-home" href="/"></a><%= link_to "Home", root_path %>
          </li>
          <li class="navbar-item">
            <a class="fas fa-users", href="/users"></a><%= link_to "Users", users_path %>
            </li>
          <li class="navbar-item">
            <a class="fas fa-book-open", href="/books"></a><%= link_to "Books", books_path %>
            </li>
          <li class="navbar-item">
            <a class="fas fa-sign-out-alt", href="/destroy/user/session"></a><%= link_to "logout", destroy_user_session_path, method: :delete %>
            </li>
      <% else %>
           <li class="nav-item">
             <a class="nav-link" href="/">Bookers</a>
          </li>
          
        
            <a class="fas fa-home" href="/"></a><%= link_to "Home", root_path %>
          </li>
          <li>
            <a class="fas fa-link" href="/home/about"></a><%= link_to "About", home_about_path %>
            </li>
          <li>
            <a class="fas fa-user-plus", href="/new/user/registration"></a><%= link_to "Sign up", new_user_registration_path %>
            </li>
          <li>
            <a class="fas fa-sign-in-alt" href="/new/user/session"></a><%= link_to "login", new_user_session_path %>
            </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

      
    
    <% end %>
    </header>
    
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
           <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>